{{ include('admin/partials/main.html.twig') }}

<head>

    {{ include('admin/partials/title-meta.html.twig', {title: 'Dashboard'}) }}

    <!-- plugin css -->
    <link href="{{ asset('admin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />

    {{ include('admin/partials/head-css.html.twig') }}

</head>

{{ include('admin/partials/body.html.twig') }}

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('admin/partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {{ include('admin/partials/page-title.html.twig', {pagetitle: 'Dashboard', title: 'Dashboard'}) }}
                {% block body %}{% endblock %}
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {{ include('admin/partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

        {{ include('admin/partials/right-sidebar.html.twig') }}

        {{ include('admin/partials/vendor-scripts.html.twig') }}

<!-- apexcharts -->
<script src="{{ asset('admin/libs/apexcharts/dist/apexcharts.min.js') }}"></script>

<!-- Plugins js-->
<script src="{{ asset('admin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('admin/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
<!-- dashboard init -->
<script src="{{ asset('admin/js/pages/dashboard.init.js') }}"></script>

<script src="{{ asset('admin/js/app.js') }}"></script>

</body>

</html>